.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.btn-primary, .btn-primary:focus, .btn-primary:hover {
    background: #6A3CA5;
    border-color: #6A3CA5;
}
.btn-primary:focus, .btn-primary:hover {
    color: #DC7603;
}

.btn-secondary, .btn-secondary:focus, .btn-secondary:hover {
    background: #DC7603;
    border-color: #DC7603;
}
.btn-secondary:focus, .btn-secondary:hover {
    color: #6A3CA5;
}