.card {
  color: black;
  margin-bottom: 20px;
  padding: 20px;
}

.highlight {
  border-color: #6a3ca5;
  border-width: thick;
}

.rating {
  position: absolute;
  top: 0;
  right: 0;
}

.message {
  position: absolute;
  bottom: 0;
  right: 0;
}

/*only at medium */
@media (min-width: 992px) {
  .job .col-md-2 {
    max-width: 12%;
  }
}