#search {
    margin-bottom: 50px;
}

.searchGuy {
    position: absolute;
    z-index: 9;
    bottom: -100px;
    right: 0;
}

#searchForJobButton {
    z-index: 10;
}

.btn-primary, .btn-primary:focus, .btn-primary:hover {
    background: #6A3CA5;
    border-color: #6A3CA5;
    cursor: pointer;
    margin-right: 10px;
}
.btn-primary:focus, .btn-primary:hover {
    color: #DC7603;
}

.btn-secondary, .btn-secondary:focus, .btn-secondary:hover {
    background: #DC7603;
    border-color: #DC7603;
    cursor: pointer;
    margin-right: 10px;
}
.btn-secondary:focus, .btn-secondary:hover {
    color: #6A3CA5;
}