.form-floating {
  color: black;
}
.range-switch {
  width: 104px;
}
.range-switch input {
  height: 30px;
  margin: 4px !important;
  top: 0;
  right: 0;
  width: 100px !important;
}
.range-switch input:checked {
  background-repeat: no-repeat;
}
.range-switch input:after {
  content: "Range";
  color: rgb(187, 182, 182);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.multi-select-form > div {
  padding: 10px;
}